<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Libraries -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <!-- ISM -->
    <script src="https://cdn.inskinad.com/isfe/creative/1/base.js"></script>
    <!-- Globals -->
    <script src="js/global.js"></script>
    <link href="global.css" rel="stylesheet" type="text/css" />
    <!-- Frame JS -->
    <script src="js/left.js"></script>
    <link href="left.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="bg">

      <div data-scroll></div>

    </div>
  </body>
</html>
